.icon-button {
    display: flex;
    align-items: center;
}

.icon-button img {
    border-radius: 50%;
    padding: 3px;
    height: 22px;
}

.icon-button:hover img {
    background-color: var(--color-secondary-hover);
}