
.list-field-value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-background);
    border: var(--size-border) dashed var(--color-secondary-hover);
    border-radius: var(--size-radius-border);

    padding: var(--size-smaller) var(--size-smaller);

    color: var(--color-secondary-text);
    font-size: medium;
    font-weight: 500;
}

.list-field-value:hover {
    border: var(--size-border) dashed var(--color-accent-hover);
    cursor: pointer;
}

.list-field-icon {
    align-self: flex-start;
}

.list-field-ul {
    display: flex;           
    flex-direction: column;     
    list-style-type: decimal;
    padding: 0;
    padding-left: 2%;             
    margin: 0;
    width: 85%;
}

.list-field-ul li {
    white-space: nowrap;        
    overflow: hidden;         
    text-overflow: ellipsis;   
    width: 100%;
}