
.text-area-value {
    background-color: var(--color-background);
    border: var(--size-border) solid var(--color-background-hover);
    border-radius: var(--size-radius-border);

    padding: var(--size-smaller) var(--size-smaller);

    font-family: "Ubuntu", sans-serif;
    font-size: large;
    font-weight: 400;

    resize: none;
    overflow-y: hidden;

    color: var(--color-primary);
}
.text-area-value::placeholder {
    color: var(--color-secondary-text);
}

.text-area-value:hover {
    border: var(--size-border) solid var(--color-accent-hover);
}