
.text-input-value {
    background-color: var(--color-background);
    border-radius: var(--size-radius-border);

    padding: var(--size-smaller) var(--size-smaller);

    font-size: large;
    font-weight: 400;

    color: var(--color-primary);
}
.text-input-value::placeholder {
    color: var(--color-secondary-text);
}

.text-input-value:not(:focus) {
    border: var(--size-border) solid var(--color-background-hover);
}

.text-input-value:focus {
    border: var(--size-border) solid var(--color-accent);
}
.text-input-value:hover {
    border: var(--size-border) solid var(--color-accent-hover);
}