
.element-list {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}


.element-list-header {
    display: flex;
    flex-direction: row;

    justify-content: space-between; /* Coloca los elementos al principio y al final */
    align-items: center;
}

.element-list-header-title {
    margin: 0 auto;
    color: var(--color-secondary-text);
    font-size: medium;
    font-weight: 400;
}

.element-list-body, .element-list-header {
    margin: 0 0;
}

.element-list-body {
    display: flex;
    flex-direction: column;

    gap: 1.5vh;
    margin-top: 2vh;
}


.element-list-empty-message {
   text-align: center;
   font-size: medium;
   font-weight: 400;
   color: var(--color-secondary-text);
}