.progress-bar {
    width: 100%;
    height: 0.8vh;

    background-color: var(--color-secondary-hover); 
    border-radius: var(--size-radius-border); 
}

.progress-bar-fill {
    height: 100%;
    width: 0;

    background-color: var(--color-primary); 
    transition: width 0.5s ease-in-out;
    border-radius: var(--size-radius-border); 
}

.progress-bar-fill.completed {
    background-color: var(--color-accent); 
}
