@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.task-card {
    font-family: "Ubuntu", sans-serif;

    display: flex;
    flex-direction: row;
    gap:  0.8vw;

    height: 40px;
}

.task-body {
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    text-align: left;

    overflow: hidden;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.task-title {
    font-size: large;
    font-weight: 400;

    color: #1E1E1E;
}

.task-description {
    font-size: medium;
    font-weight: 300;

    color: #757575;
}

/*
.task-favorite {

}
*/

.task-status {
    margin: auto 0;
}