.layout {
    margin: auto 5%;
    min-height: 100vh;
    box-sizing: border-box;

    background-color: var(--color-background);

    padding: var(--size-smaller);
    
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--size-medium);
}


@media only screen and (min-width: 1024px) 
{
    .layout {
        max-width: 350px;
        margin: auto;
    }
}
  