.form-field {
    display: flex;
    flex-direction: column;

    gap: calc(0.2vw + 0.5vh);
}

.form-field-title {
    display: flex;
    flex-direction: row;

    align-items: start;

    color: var(--color-secondary-text);
    font-size: medium;
    font-weight: 400;
}


.form-field-error {
    display: flex;
    flex-direction: row;

    align-items: start;

    color: var(--color-warning);
    font-size: medium;
    font-weight: 400;

    margin-left: calc(0.5vw + 0.5vh);
}