.form-field {
    display: flex;
    flex-direction: column;

    gap: 1vh;
}

.form-field-title {
    display: flex;
    flex-direction: row;

    align-items: start;

    color: #1E1E1E;
    font-size: large;
    font-weight: 400;
}

.form-field-body {
    display: flex;
    flex-direction: column;

    gap: 1vh;
}

.form-field-error {
    display: flex;
    flex-direction: row;

    align-items: start;

    color: #B3261E;
    font-size: medium;
    font-weight: 400;

    margin-left: 1vw;
}