
.form {
    display: flex;
    flex-direction: column;

    gap: var(--size-small);

    background-color: var(--color-background);
    border: 1.5px solid var(--color-background-hover);
    border-radius: var(--size-radius-border);

    padding: calc(1vw + 2vh);

    font-size: large;
    font-weight: 400;
}

.form-header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    color: var(--color-primary);
}

/*
.form-header-title {

}
*/

.form-body {
    display: flex;
    flex-direction: column;

    gap: var(--size-small);
}


.form-confirm {
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    text-align: center;
    gap: calc(0.5vw + 0.5vh);
}

.form-confirm-btn {
    color: var(--color-secondary);
    background-color: var(--color-primary);

    padding: var(--size-smaller);

    border-radius: var(--size-radius-border);
    flex-grow: 1;
}

.form-confirm-btn:hover {
    background-color: var(--color-primary-hover);

    border-radius: var(--size-radius-border);
}


.form-confirm-btn.secondary {
    background-color: var(--color-secondary-hover);
    flex-grow: 0;
}